@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BrewDay</h1>
    <br>
    <p class="lead">
        Application that allows home brewers to maintain an organized database of their beer recipes.
    </p>
    <p>
        The application allows users to create, store and modify recipes, and later on delete them, if the user wishes to do so.
    </p>
    <p>
        The application is intended for "all-grain" brewers only, and thus all recipes are for this kind of brews (the "extract" brews are not supported).
    </p>
    <br>
    <p><a href="http://score-contest.org/2018/projects/brewday.php" target="_new" class="btn btn-primary btn-lg">See full project description &raquo;</a></p>
</div>
