<?xml version="1.0" encoding="utf-8" ?>
<!--
    Nota:Aggiungere voci a  App.config per le impostazioni di configurazione
  che si applicano solo al progetto Test.
-->
<configuration>
    <appSettings>

    </appSettings>

  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=C:\Users\dege\source\repos\BrewDayApp\BrewDayAPP\App_Data\BrewDayDB.mdf;Initial Catalog=BrewDayDB;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="BrewDayDBEntities" connectionString="metadata=res://*/EF_DB.csdl|res://*/EF_DB.ssdl|res://*/EF_DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDb)\MSSQLLocalDB;attachdbfilename=C:\Users\dege\source\repos\BrewDayApp\BrewDayAPP\App_Data\BrewDayDB.mdf;initial catalog=BrewDayDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
